/* Start Variables */
:root {
  --main-color: #ff4f9a;
  --secondary-color: #7a0f4a;
  --section-padding: 60px;
  --section-background1: #fde6ec;
  --section-background2: #ffefe9;
  --main-duration: 0.5s;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--section-background2);
}
.section {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .section {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .section {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .section {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header section */
.header {
  padding: 20px;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 160px;
  width: 100%;
  height: 3px;
  background: var(--main-color);
  box-shadow: 0 4px 12px var(--main-color), 0 8px 20px var(--main-color);
  z-index: -1;
}
.header .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .cart {
      padding: 10px 20px;
      background: var(--main-color);
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
}
.header .cart:hover {
  background-color: var(--secondary-color);
}
.header .logo {
  width: 128px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--secondary-color);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header section */
/* Start Cover Section */
.landing {
  background-image: url(/images/vase.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--section-background2);
}
.landing .intro-text p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--section-background1);
  font-weight: bold;
}
.landing .intro-text p span {
  font-size: 17px;
}
.landing .intro-text button {
      padding: 10px 20px;
      background: var(--main-color);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      width: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
}
.landing .intro-text button:hover {
  background-color: var(--secondary-color);
}
/* End Cover Section */
/* Start Features */
    .featured {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 30px;
      background: var(--section-background1);
    }
    .featured h2 {
      color: var(--main-color);
      font-size: 28px;
      margin-bottom: 20px;
    }
    .products {
      padding: 40px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 25px;
      justify-content: center;
    }
    /* Features Card */
    .product {
      max-width: 920px;
      width: 100%;
      background: var(--section-background2);
      border: 1px solid #eee;
      border-radius: 20px;
      padding: 15px;
      text-align: center;
      box-sizing: border-box;
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
    .product img {
      width: 100%;
      height: 360px;
      max-width: 1800px;
      object-fit: cover;
      display: block;
      margin: 0 auto;
      border-radius: 15px;
    }
    .product h3 {
      margin: 22px;
      font-size: 15px;
      font-weight: bold;
    }
    .product p {
      direction: rtl;
      color: #888;
    }
    /* Buy Now BTN */
    .buy-btn {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: var(--main-color);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .buy-btn:hover {
      background-color: var(--secondary-color);
    }
    .add-to-cart {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: var(--main-color);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .add-to-cart:hover {
      background-color: var(--secondary-color);
    }
/* End Features */
/* Start Cart */
    .cartsec {
      margin-top: 20px;
      padding: 40px 20px;
      width: 75%;
      position: relative;
      left: 12.5%;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      background-color: var(--main-color);
      color: var(--secondary-color);
      font-weight: bold;
      font-size: 21px;
      text-align: center;
    }
    .cartsec h2 {
      text-align: left;
      padding-left: 22px;
    }
    .cartsec #cart-items {
      color: var(--section-background1);
      list-style-type: none;
      padding: 0px;
    }
    .cartsec .raw {
      color: var(--secondary-color);
      width: 30%;
    }
    /* Reset button */
    .cartsec .reset {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: white;
      color: var(--secondary-color);
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .cartsec .reset:hover {
      background-color: var(--secondary-color);
      color: var(--section-background1);
    }
/* End Cart */
/* Start Other Sections */
    .about, .contact {
      padding: 40px 20px;
      text-align: center;
      width: 100%;
    }
    .about h2 , .contact h2 {
      color: var(--main-color);
    }
    .about p {
      font-size: 22px;
      padding: 14px;
      color: var(--secondary-color);
    }
    .about {
      background-color: var(--section-background2);
    }    
    .contact {
      background: var(--section-background1);
    }
    .contact .link {
      text-decoration: none;
      font-weight: 500;
      font-size: 30px;
      color: var(--secondary-color);
      font-family: Arial, Helvetica, sans-serif;
    }
    footer {
      background-color: var(--main-color);
      color: white;
      padding: 30px 10px;
      text-align: center;
      font-size: 18px;
    }
    footer .logotext {
      font-weight: bold;
      color: var(--secondary-color);
    }
/* End Other Sections */
/* Start Purchase Form */
    .modal {
      display: none;
      position: fixed;
      z-index: 100;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
    .modal-content {
      background-color: var(--section-background1);
      margin: 10% auto;
      padding: 20px;
      width: 90%;
      max-width: 400px;
      border-radius: 10px;
      text-align: center;
    }
    .modal input, .modal button {
      margin-top: 10px;
      border: none;
      outline: var(--secondary-color);
      width: 90%;
      padding: 10px;
      font-size: 16px;
      background-color: var(--main-color);
      color: var(--section-background1);
    }
    .modal button {
      width: 50%;
      border-radius: 14px;
    }
    .modal button:hover {
      background-color: var(--secondary-color);
    }
    ::placeholder {
      color: white;
    }
    .close {
      float: right;
      cursor: pointer;
      font-size: 20px;
    }
/* End Purchase Form */

  /* chef-belly developer */